@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Share+Tech+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray-blue: #415a77;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

section {
    margin-bottom: 2rem;
}
.newsLetter,
.contactUs {
    padding: 3rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.dice {
    background: #fff;
    color: #000;
    font-family: inherit;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 2px solid #000;
    cursor: pointer;
}
.dice:hover {
    background: #000;
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color: #000;
}

/* Navigation */
.navbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 5rem;
}

.links, .consoleIcons {
    display: flex;
    gap: 2rem;
}

.listItem a {
    font-size: 1.2rem;
    font-weight: 500;
}
.listItem a:hover {
    /* color: white; */
}

.iconItem .fa-brands {
    font-size: 1.5rem;
    cursor: pointer;
}

.iconItem .fa-brands:hover {
    color: red;
}

/* HERO LANDING SECTION */
.hero {
    height: 30rem;
    background-image: url("./Images/tsushima.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.tsushima {
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3.5rem;
    max-width: 30rem;
    float: right;
    margin-top: 3rem;
    text-transform: capitalize;
}

/* LATEST RELEASE */
.releases {
    margin-inline: 4.5rem;
    display: flex;
    flex-wrap: wrap;
}
.more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mReleases i {
    margin-left: .5rem;
}

.head {
    padding-bottom: 2rem;
}

.latestReleases {
    display: flex;
    gap: 2rem;
}

.card {
    border: 1px solid #7A7A7A;
    display: flex;
    flex-direction: column;
}
.game {
    width: 20rem;
}

.description p {
    color: black;
    font-size: .8rem;
    font-weight: 400;
}

.description .desc, .descP {
    padding-bottom: 1rem;
}

.btn {
    margin-left: 25%;
}

/* ABOUT US */
.aboutUs {
    background: 
    linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
    url("./Images/dark-forest-hd-wallpaper-preview.jpg");  
}

.details {
    margin-inline: 5rem;
    padding: 2rem 5rem;
}

.details .title, .detailsP {
    color: white;
    font-weight: 500;
    padding-block: 1.5rem;
}

/* OUR TEAM */
.ourTeam article {
    text-align: center;
    max-width: 50rem;
    margin: auto;
}

.teamSub {
    font-size: 1.5rem;
}
.teamHead {
    font-size: 2.5rem;
}
.team {
    margin: 2rem 5rem;
    display: flex;
    gap: 2rem;
}

.avatar {
    width: 15rem;
}

.position {
    color: gray;
}

/* CONTACT US */
.contactUs {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: #fff;
}
.contact {
    max-width: 30rem;
}

.quiz {
    font-size: 2.5rem;
}
.hear, .quiz {
    padding-bottom: 1rem;
}

.formControl {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.formControl input, textarea {
    font-family: inherit;
    padding: .8rem 1.5rem;
    border-radius: .8rem;
    outline: transparent;
    border: none;
}

.submit {
    padding: .6rem 2rem;
    background: #fff;
    border: 3px solid black;
    border-radius: .5rem;
    cursor: pointer;
    width: fit-content;
}

.submit i {
    font-size: 2rem;
}
.submit:hover {
    background: #000;
    color: #fff;
    border: 3px solid #fff;
}

/* NEWS LETTER */
.newsFormControl input {
    font-family: inherit;
    padding: 1rem 1.5rem;
    outline: transparent;
    border: none;
    border-bottom: 2px solid black;
}

.newsFormControl input:focus {
    border-bottom: 2px solid red;
}

/* NEWS & ARTICLES */
.articles {
    padding: 3rem 6rem;
}

.articleTitle {
    padding-bottom: 1rem;
}

.newsArticles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.newsCard {
    width: 35rem;
    display: flex; 
    gap: 2rem;
}
.thumbnail {
    width: 13rem;
}
.newsBody {
    width: 20rem;
}
.newsCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsLink {
    letter-spacing: 3px;
    color: red;
    font-weight: 700;
}